<div fxLayout="column" fxLayoutAlign="center center">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Authorization code</mat-label>
      <input matInput formControlName="code">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Authorize</button>
  </form>


  <button fxFlex="50" mat-raised-button color="accent" type="button" (click)="getPeople()" [disabled]="!successfulAuth">
    get contacts
  </button>


  <table>
    <tr *ngFor="let person of people">
      <td>
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"
                 style="background-image: url({{person.photoURL}})"></div>
            <mat-card-title>{{person.name}}</mat-card-title>
            <mat-card-subtitle>{{person.email}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <!--      <span>{{person.name}}</span>-->
        <!--      <span>{{person.email}}</span>-->
        <!--      <img src="{{person.photoURL}}" style="width: 50px; height: 50px">-->
        <button mat-button color="accent" (click)="sendInvitation(person.email)">invite to play</button>
      </td>
    </tr>
  </table>
</div>
